/* Variables
  ============================= */

:root {
    --color-black: #090909;
    --color-white: #ffffff;
    --color-primary: #FF6565;

    --hover-color: #e64a4a;
    --btn-opacity-hover-active: 0.9;

    --font-family: "Source Sans Pro", sans-serif;
}

/* Base
      ============================= */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    max-width: 100%;
}

body {
    color: var(--color-white);
    font-family: var(--font-family);
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: var(--white-color);
    text-decoration: none;
}

/* Header
    ============================== */

.header {
    background-image: url("/assets/images/headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    height: 120vh;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 1vw 10vw;
    align-items: center;
}

.header-logo img {
    width: 10rem;
    height: auto;
}

.navbar-menu {
    text-align: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    padding-left: 2rem;
    font-size: 0.75rem;
    display: inline-block;
}

.nav-item a:hover {
    color: var(--color-primary);
}

/* Media Queries header */
@media (min-width: 481px) and (max-width: 900px) {
    .header-background {
        background-position: 37% 0;
    }

    .header-logo img {
        width: 12rem;
        height: auto;
    }

    .navigation-list li {
        font-size: 0.75rem;
    }
}

@media (max-width: 480px) {
    .header {
        background-position: 35% 0;
    }

    .header-logo img {
        width: 12.5rem;
        height: auto;
        margin-top: 10px;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-container .header-logo {
        margin: 0;
    }
}

/* Hamburguer menu */
.menu-btn,
.menu-icon {
    display: none;
}

.menu-icon .navicon {
    background: var(--color-white);
    display: block;
    width: 1.3rem;
    height: 0.2rem;
    position: relative;
    transition: background 0.2s ease-out;
}

.menu-icon .navicon::before,
.menu-icon .navicon::after {
    content: "";
    display: block;
    width: 2rem;
    height: 100%;
    position: absolute;
    background: var(--color-white);
    transition: all 0.2 ease-out;
}

.menu-icon .navicon::before {
    top: 0.6rem;
}

.menu-icon .navicon::after {
    top: -0.6rem;
}

/* Media Queries hamburger */
@media (max-width: 480px) {
    .navbar-menu {
        display: none;
    }

    .menu-icon {
        display: block;
        position: absolute;
        left: 5vw;
        top: 5vw;
        margin-top: 10px;
    }

    .menu-btn:checked~.navbar-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu-btn:checked~.navbar-menu .nav li {
        display: block;
        margin-bottom: 20px;
        margin-right: 60px;
    }

    .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked~.menu-icon .navicon::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-btn:checked~.menu-icon .navicon::after {
        transform: rotate(-45deg);
        top: 0;
    }
}

/* Section HERO
      ============================= */

.section-hero {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20vw 15vw;
    text-align: center;
}

.section-hero .section-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.section-hero h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
}

.hero-text {
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.925rem;
}

.button {
    background-color: var(--color-primary);
    text-transform: uppercase;
    cursor: pointer;
    width: 10.125rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 3.4rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--white-color);
    border: none;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.button:hover {
    background-color: var(--hover-color);
    opacity: var(--btn-opacity-hover-active);
}

/* Media Queries hero section */
@media (min-width: 481px) and (max-width: 900px) {
    .section-hero {
        margin: 45vw 5vw 10vw;
    }

    .section-hero .section-title {
        font-size: 2rem;
    }

    .section-hero h2 {
        font-size: 1rem;
    }

    .section-hero .hero-text {
        width: 80%;
        font-size: 1rem;
        line-height: 1.625rem;
    }

    .button {
        width: 10.125rem;
        height: 2.75rem;
        border-radius: 1.375rem;
        flex-shrink: 0;
        font-size: 0.875rem;
        margin-top: 2.5rem;
        margin-bottom: 4rem;
    }
}

@media (max-width: 480px) {
    .section-hero {
        margin: 75vw 5vw 10vw;
    }

    .section-hero .section-title {
        font-size: 2rem;
        width: 22.3rem;
    }

    .section-hero h2 {
        font-size: 1.1rem;
        width: 17.4rem;
    }

    .section-hero .hero-text {
        width: 20.9rem;
        font-size: 1rem;
        line-height: 1.625rem;
    }

    .button {
        width: 10.125rem;
        height: 2.75rem;
        border-radius: 1.375rem;
        flex-shrink: 0;
        font-size: 0.875rem;
        margin-top: 10px;
    }
}
